<div class="col-md-3 col-sm-6">
    <div class="card my-2">
      <div class="text-center">
        <a [routerLink]="['/product',p._id]">
          <img [src]="p.image" [alt]="p.name" class="img-fluid w-75 card-img-top"/>
        </a>
      </div>
      <div class="card-header">
        <div class="card-title">
          <p>{{p.name | titlecase}}</p>
        </div>
      </div>
      <div class="card-body">
        <h6>{{p.description.substr(0, 40)}} ....</h6>
        <p class="lead">{{p.price | currency:'EGP'}}</p>
      </div>
    </div>
  </div>